<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title><%= @datetime ? "&hellip;#{format_datetime(@datetime)}" : "In the Wee Small Hours&hellip;" %></title>
</head>

<body>
  <%= yield %>
</body>

</html>
